.wrap {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    border: 1px solid rgb(10, 4, 4);
	box-shadow: 1px 0px 39px -12px #757575;
	font-family: Helvetica;
	background-color: #FFF;
}

.wrapper {
    display: flex;
    width: 200px;
}

.title {
    color: #12082b;
	text-align: center;
}

.link {
    font-size: 30px;
    color: black;
    text-decoration: none;
}
